github "utahiosmac/Marshal" "master"
github "lyft/mapper" "master"
github "JohnSundell/Unbox" "master"
github "SwiftyJSON/SwiftyJSON" "master"
github "Anviking/Decodable" "master"
github "Hearst-DD/ObjectMapper" ~> 2.2
github "vdka/json" ~> 0.16
github "hkellaway/Gloss" "master"
github "LoganWright/Genome" == 3.0.3
